/* Style du tableau en mode normal (bureau) */
.table-responsive {
    display: table; /* Style normal du tableau */
    width: 100%;
}

.swal2-popup.swal2-toast .swal2-title {
    font-size: 0.85rem !important;
}

/* Style du tableau en mode mobile (transformé en cartes avec chaque champ sur une ligne séparée) */
@media (max-width: 768px) {
    .table-responsive {
        display: block;
    }

    .table-responsive thead {
        display: none; /* Cache l'en-tête */
    }

    .table-responsive tbody tr {
        display: grid;
        grid-template-columns: 1fr; /* Une seule colonne pour chaque ligne */
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        border: 1px solid #cccccc;
        padding: 1rem;
    }

    .table-responsive tbody td {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
        border: none; /* Supprime les bordures */
    }

    /* Style pour les labels de chaque champ en mode carte */
    .table-responsive tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #333;
        margin-right: 10px;
    }
}

.camembert-chart-status {
    width: 50% !important;
    height: 70% !important;
}

.disabled-link {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.4; /* Facultatif, pour montrer un état désactivé */
}

.table-opacity {
    --bs-table-bg: rgb(252, 239, 241) !important;
}