{% if action %}
    <span class="badge bg-success-subtle text-success font-size-12">{{ labelTrue }}</span>
{% else %}
    <span class="badge bg-danger-subtle text-danger font-size-12">{{ labelFalse }}</span>
{% endif %}