<div id="loader" class="d-flex justify-content-center align-items-center">
    <div class="spinner-border my-5" role="status" style="display: none;" data-loading="addClass(d-block)">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>