<li class="menu-title" data-key="t-users">Sécurité & Comptes utilisateurs</li>
<li>
    <a href="{{ path('admin.users.index') }}">
        <i class="bx bx-user icon nav-icon"></i>
        <span class="menu-item" data-key="t-users">Gestion utilisateurs</span>
    </a>
</li>